.landingContain {
  width: 100vw;
  height: 100vh;
  background-color: #041D36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingBGCircle {
  position: absolute;
  top: 0px;
  left: 0px;
}

.landingContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 570px;
  height: 570px;
  background-color: #01132d;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #fff;
}

.logoContain {
  width: 40px;
}

.logoContain img {
  width: 100%;
}

.videoContain {
  margin-top: 10px;
  margin-bottom: 10px;
}

.titleLBF, .titleDesc {
  color: #fff;
  z-index: 5;
}

.titleLBF {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: -0px;
  margin-top: 20px;
}

.titleDesc {
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  font-weight: 400;
  display: relative;
  top: -200px;
  max-width: 300px;
}

